@{
    ViewBag.Title = "SimpleList";
}

<h2>SimpleList</h2>
<span data-bind="style: {color: css()}">abc</span>
 <input type="text" data-bind="value: inputField, valueUpdate: 'afterkeydown'" />
<button data-bind="click: addItem, enable: inputField().length > 0">add</button>
<select multiple="multiple" data-bind="options: listnv, selectedOptions:selectedItems"></select>
<button data-bind="click: sortitems">sort</button>
<button data-bind="click: removeSelectedItems">delete</button>
<div data-bind="foreach: listnv">

    <div data-bind="text: $data"></div>
</div>
<script type="text/javascript">
    var myModel = function(items)
    {
        this.css = ko.observable("red");
        this.inputField = ko.observable("");
        this.listnv = ko.observableArray(items);
        this.addItem = function () {
            this.listnv.push(this.inputField());
            this.inputField("");
        }.bind(this);
        this.sortitems = function () {
            this.listnv.sort();
        }
        this.selectedItems = ko.observableArray([]);
        this.removeSelectedItems = function () {
            this.listnv.removeAll(this.selectedItems());
            this.selectedItems([]);
        }
    }
    ko.applyBindings(new myModel(["phuong","long","trang"]));

</script>