@{
    ViewBag.Title = "SimpleGrid";
}

<h2>SimpleGrid</h2>
<div data-bind="foreach: productType">
    <div><input type="checkbox" data-bind="checked: select" /><span data-bind="text:typeName"></span></div>

</div>
<table data-bind='foreach: items'>
    <tr>
        <td data-bind="text:name">

        </td>
        <td data-bind="text:sales">

        </td>
        <td data-bind="text:price">

        </td>
          <td data-bind="text: type1">
              
        </td>
        <td>
            <button data-bind="click: $root.deleteitem">Delete item

            </button>
        </td>
    </tr>
</table>
 
 <button data-bind="click: addItem">add</button>
<script type="text/javascript">
    var mytype = function (typename,select)
    {
        this.typeName = ko.observable(typename);
        this.select = ko.observable(select);
    }
    
    //var initialData = [
    //{ name: "Well-Travelled Kitten", sales: 352, price: 75.95, type :type[1] },
    //{ name: "Speedy Coyote", sales: 89, price: 190.00, type: type[1] },
    //{ name: "Furious Lizard", sales: 152, price: 25.00, type: type[0] },
    //{ name: "Indifferent Monkey", sales: 1, price: 99.95, type: type[0] },
    //{ name: "Brooding Dragon", sales: 0, price: 6350, type: type[1] },
    //{ name: "Ingenious Tadpole", sales: 39450, price: 0.35, type: type[1] },
    //{ name: "Optimistic Snail", sales: 420, price: 1.50, type: type[0] }
    //];

    //var product = function () { }
    //{
    //    var self = this;
    //    self.name = ko.observable("");
    //    self.sales = ko.observable(0);
    //    self.price = ko.observable(0);
    //    self.type1 = ko.observable("phuongttt");

    //}
    var PagedGridModel = function () {
        
        var self = this;
        self.productType = ko.observableArray([new mytype("phuongxx",true),new mytype("test",true)]);
        self.typeShow = ko.observableArray([]);
        self.addTypeShow = function (value) {
            if (value == true)
            {
                
            }
        };
        self.items = ko.observableArray([{ name: "Well-Travelled Kitten", sales: 352, price: 75.95, type1:"xxx" },
        { name: "Speedy Coyote", sales: 89, price: 190.00, type1: self.productType[1] },
        { name: "Furious Lizard", sales: 152, price: 25.00, type1: self.productType[0] },
        { name: "Indifferent Monkey", sales: 1, price: 99.95, type1: self.productType[0] },
        { name: "Brooding Dragon", sales: 0, price: 6350, type1: self.productType[1] },
        { name: "Ingenious Tadpole", sales: 39450, price: 0.35, type1: self.productType[1] },
        { name: "Optimistic Snail", sales: 420, price: 1.50, type1: self.productType[0] }]);

        self.deleteitem = function (item) {             
            self.items.remove(item);
        };
        self.showItems = ko.computed(function () {
            return self.items;
        //    return ko.utils.arrayFilter(self.items(), function (planet) {
        //        return planet.type == "phuong";
        //});
        });
        self.addItem = function () {
            self.items.push({ name: "<div style='color:red;'>xxx</div>", sales: 352, price: 75.95, type1: self.productType[0] });
        }         
    };
    ko.applyBindings(new PagedGridModel());
    
</script>
